fastapi==0.115.0
uvicorn[standard]==0.30.0
sqlalchemy==2.0.35
pydantic==2.9.0
pydantic-settings==2.5.0
python-multipart==0.0.9
asyncpg==0.29.0
faker==24.4.0
greenlet==3.5.3
zcatalyst-sdk==1.4.0
pandas
scikit-learn
xgboost
shap
google-generativeai
